@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-variant-numeric: tabular-nums;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}
